# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
project.md
plants1.png
plants2.png
plants-new1.png
plants-new2.png
plants-new3.png